$black: #333;
$gray: #aaa;

html {
    box-sizing: border-box;
    font-size: 16px;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Helvetica;
    width: 80%;
    margin: 2rem auto;
    padding: 1rem;
    min-height: 70vh;
    border: solid 1px $gray;
}


h1 {
    text-align: center;
    color: $black;
}
